<footer class="footer">
    <div class="container" id="footer-data-container">
      <!-- h tags shall be converted into a tags if we create the pages -->
      <div class="footer-col" id="footer-col-1">
        <h4>My Account</h4>
        <p>Sign In</p>
        <p>Register</p>
      </div>
      <div class="footer-col" id="footer-col-2">
        <h4>Our Story</h4>
        <p>Media</p>
        <p>About Us</p>
      </div>
      <div class="footer-col" id="footer-col-3">
        <h4>Legal</h4>
        <p>Terms of Use</p>
        <p>Privacy Policy</p>
      </div>
      <div class="footer-col" id="footer-col-social">
        <a href=""><img src="/assets/f_logo.png" alt="facebook logo" height=50 width=50></a>
        <a href=""><img src="/assets/ig_logo.png" alt="instagram logo" height=50 width=50></a>
        <a href=""><img src="/assets/t_logo.png" alt="twitter logo" height=50 width=50></a>
      </div>
    </div>
  </footer>