html {
  font-family: "Orbitron", sans-serif;
  background: radial-gradient(circle, #988 0%, #333 100%);
}

body {
  margin: auto;
  width: 80%;
  padding: 0;
  background: rgb(146, 136, 136);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.8) 0%,
    #95bbd5 100%
  );
}

/* Header and nav styling 
   Header styled to stay at top of page regardless of scroll position,
   content oriented via flex positioning.  Modified positioning/size of sub-elements. */

header {
  position: relative;
  top: 0;
  z-index: 1;
  overflow: visible;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-end;
  background-color: rgba(245, 255, 250, 0.95);
}

.logo-container {
  flex-shrink: 0;
  align-self: flex-start;
}

#logo {
  display: block;
}

#logo-mobile {
  display: none;
}

/*vw uses view width to proportionally scale font-size */
.tagline {
  align-self: center;
  text-align: center;
  font-size: 1.5vw;
  color: #322;
}

/* Nav Bar Styling 
   Nav Links styled as cohesive unit on right side of page with responsive sizing */

nav {
  background-color: rgba(119, 191, 226, 0.6);
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

.navlink {
  padding: 25px 25px;
  margin: auto;
  width: 100px;
}

.navlink a {
  text-align: center;
  color: #322;
  width: 100px;
}

.navlink:hover {
  background-color: rgba(119, 191, 226, 1);
  cursor: pointer;
}

.navbtn,
.dropbtn {
  text-align: center;
  color: black;
}

/* Body and content styling
   Image borders, text styling, and body background/layout to allow
   for effective flex positioning of content */

p {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
}

h5 {
  text-align: center;
  font-family: "Ubuntu", sans-serif bold;
  font-size: 16px;
}

img {
  border-radius: 40px;
  max-width: 100%;
}

.general-text {
  letter-spacing: 1px;
  line-height: 35px;
}

/* Index Page Layout Styling */

.sec {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-radius: 40px;
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
  max-height: fit-content;
}

#sec4 {
  margin-bottom: 2.5%;
}

.sec-about-container {
  background-color: rgba(145, 140, 140, 0.95);
  border-radius: 40px;
  padding: 25px 25px 25px 25px;
  height: fit-content;
}

.fade-in-animation {
  visibility: hidden;
}

.slide-in-left-animation {
  visibility: hidden;
}
.slide-in-right-animation {
  visibility: hidden;
}

/* Animation for slide-in */
.slide-in-left {
  visibility: visible;
  animation-name: slideInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}
@keyframes slideInLeft {
  0% {
    transform: translateX(150%);
  }
  40% {
    transform: translateX(-4%);
  }
  60% {
    transform: translateX(4%);
  }

  80% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0%);
  }
}

.slide-in-right {
  visibility: visible;
  animation-name: slideInRight;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}
@keyframes slideInRight {
  0% {
    transform: translateX(-150%);
  }
  40% {
    transform: translateX(4%);
  }
  60% {
    transform: translateX(-4%);
  }
  80% {
    transform: translateX(2%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* Animation for fade-in */

.fade-in {
  visibility: visible;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.3;
  }
  45% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.7;
  }
  85% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.fractal-land-images {
  display: flex;
  flex-flow: column;
  width: 100%;
}

#fractal-1 {
  padding-right: 35%;
  padding-bottom: 30px;
  border-radius: 40px;
  max-height: 50%;
}

#fractal-2 {
  padding-left: 35%;
  max-height: 40%;
  width: 60%;
}

.Museum_Stars_Images {
  display: flex;
  flex-flow: row;
  width: 100%;
}

.Museum_Stars_Images,
#sec4 {
  margin-right: 2%;
}

/* Button and link styling 
   Styling for nav buttons, hover response, and links styled as buttons
   Uses blanket selectors in parts for code efficiency */

[class$="button"]:hover {
  background-color: rgba(119, 191, 226, 1);
  cursor: pointer;
  border: 2px outset mintcream;
}

.navdrop:hover .dropdown-content {
  display: block;
}

.dayDropdownContent,
.wkndDropdownContent,
.sznDropdownContent {
  display: none;
  background-color: rgba(119, 191, 226, 1);
  border-radius: 2%;
  width: inherit;
  z-index: 5;
  position: absolute;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 205px;
  right: 0px;
  background-color: rgba(119, 190, 226, 1);
  border-radius: 5px;
  min-width: 160px;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 2;
}

.dayDropdown:hover .dayDropdownContent {
  display: block;
  left: 8%;
}

.wkndDropdown:hover .wkndDropdownContent {
  display: block;
  left: 35%;
}

.sznDropdown:hover .sznDropdownContent {
  display: block;
  left: 62%;
}

a.button {
  display: flex;
}

a.button,
.purchasebutton {
  letter-spacing: 1.5px;
  width: 50%;
  background-color: rgba(119, 190, 226, 0.5);
  padding: 25px 25px 25px 25px;
  border-radius: 15px/30px;
  border-color: rgba(255, 255, 255);
  border-style: inset;
  text-align: center;
}

.learnmore {
  letter-spacing: 1.5px;
  width: 100%;
  background-color: rgba(119, 190, 226, 0.5);
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  border-color: rgba(255, 255, 255);
  border-style: inset;
  text-align: center;
}

.learnmore:hover {
  background-color: rgba(119, 191, 226, 1);
  cursor: pointer;
  border: 2px outset mintcream;
}

[class$="Dropdown"] {
  padding: 5px 5px 5px 5px;
  text-align: center;
  border-style: none;
  width: 30%;
  align-self: center;
}


/* Attraction page styling
   Modified header to static in attractions.html
   in order to allow consistent interaction with page content */

.slider-container {
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 8%;
  background-color: rgba(119, 190, 226, 0.5);
  height: 100px;
  margin: 5px;
  width: 70%; 
  align-self: center;
}

.attractions-container {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.allAttractions {
  background: rgba(119, 190, 226, 0.8);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.attraction {
  display: grid;
  margin: 5px;
  text-align: center;
  width: 35%;
  height: 25%;
  flex-grow: 1;
  border-radius: 30px;
}

/* Flex-Grow allows for certain attraction containers to be larger than others while
     maintaining responsive sizing for the page as a whole */
#at4 {
  flex-grow: 2;
}

/* Centered images in attraction containers */
.attraction > img {
  display: block;
  margin: 0 auto;
}

/* Slider styling -- necessary to disable default webkit appearance in order
   to customize slider, most likely not fully cross-browser compatible, optimal in chrome
   Slider track, thumb, datalist, and hover response must all be styled separately*/

.sliderMetric,
.sliderImperial {
  background: transparent;
}

input[type="range"] {
  cursor: pointer;
  width: 80%;
  -webkit-appearance: none;
  background: transparent;
}

datalist {
  font-family: "Ubuntu", sans-serif;
  text-align: left;
  font-size: x-small;
  display: flex;
  justify-content: space-between;
  margin-left: 6px;
  margin-top: -40px;
  width: 80%;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: rgba(240, 240, 240, 0.2);
  height: 3px;
  border: 3px outset rgba(240, 240, 240, 0.493);
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0c0c0c;
}

input[type="range"]::-webkit-slider-thumb {
  border: 2px outset rgba(252, 163, 46, 0.9);
  height: 16px;
  width: 20px;
  margin-top: -8px;
  border-radius: 85%;
  background: rgba(253, 167, 54, 1);
  box-shadow: 2px 2px 2px #0c0c0c;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track:hover {
  background: rgba(240, 240, 240, 0.9);
}
input[type="range"]::-webkit-slider-thumb:hover {
  background: rgb(243, 150, 29);
}

/* Ticketing styling
   Flex styling with customized dropdown behavior*/

.ticketing-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#daypass,
#wkndpass,
#sznpass {
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 2em;
  width: 50%;
  height: 50%;
  margin: 3px;
  background-color: rgba(135, 135, 250, 0.8);
}

.offers {
  text-align: center;
}

.discounts {
  display: flex;
  justify-content: center;
}

#offers_discount1,
#offers_discount2 {
  background-color: rgba(134, 211, 249, 0.9);
  padding: none;
  text-align: center;
  justify-content: left;
  align-items: center;
  margin: 8px;
  width: 50%;
}

/* footer styling
   flex styling both outside and inside containers to maintain
   responsive behavior*/

footer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  justify-content: space-evenly;
}

#footer-data-container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px 20px 20px;
  width: 90%;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(186, 190, 202, 0.35);
  border-radius: 20px;
  border-style: inset;
}

.footer-col {
  background-color: rgba(119, 191, 226, 0.9);
  padding-left: 2.5%;
  padding-right: 2.5%;
  border-radius: 20px;
}

.footer-col p {
  font-size: 90%;
}

/* Slideshow styling */

.slideshow-container {
  border-radius: 40px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  display: flex;
  flex-flow: column wrap;
}
.slides {
  display: none;
}

.slide-image {
  position: relative;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

#prev-next-container {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.prev,
.next {
  cursor: pointer;
  position: relative;
  top: 40%;
  color: #e67235;
  font-size: 20px;
  transition: 0.5s ease-in-out;
  border-radius: 0 4px 4px 0;
  user-select: none;
  margin-top: -20px;
  padding: 15px;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

/* Tablet Version
   On resize past a certain point, changes many containers to display
   content in columnar context, as well as filling page width with
   div size and background color.  Also modifies dropdown positioning
   and text size*/
@media screen and (max-width: 42em) {
  .header {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
  }

  .logo-container {
    padding: 0;
    margin: auto;
  }

  #logo {
    display: none;
  }

  #logo-mobile {
    display: block;
  }

  nav {
    margin: auto;
    width: 100%;
    flex-flow: column;
  }

  .navlink {
    width: 100%;
    padding: 15px 0px 15px 0px;
    text-align: center;
  }

  .dropdown-content {
    position: inherit;
  }

  #footer-data-container {
    font-size: x-small;
    background-color: rgba(119, 191, 226, 0.9);
  }

  .footer-col {
    background-color: transparent;
    border-radius: 0px;
  }

  .sec {
    flex-flow: column wrap;
  }

  .slider-container {
    width: 100%;
  }

  .allAttractions {
    flex-flow: column;
    justify-content: center;
  }

  .attraction {
    align-self: center;
    text-align: center;
    width: 100%;
  }

  .ticketing-container {
    flex-flow: column wrap;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #daypass,
  #wkndpass,
  #sznpass {
    width: 100%;
    margin: 0;
  }

  [class$="DropdownContent"] {
    width: 75%;
  }

  .dayDropdown:hover .dayDropdownContent {
    left: 12.5%;
  }

  .wkndDropdown:hover .wkndDropdownContent {
    left: 12.5%;
  }

  .sznDropdown:hover .sznDropdownContent {
    left: 12.5%;
  }
}
